body {
  display: flex;
  justify-content: center;
  background: rgb(71, 71, 74);
  background: linear-gradient(
    90deg,
    rgba(71, 71, 74, 1) 0%,
    rgba(27, 27, 29, 1) 35%,
    rgba(0, 0, 0, 1) 100%
  );
  padding: 5rem;
  color: white;
  font-size: 1.6rem;
}

.App-header {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.App-container {
  border: 1px solid rgb(114, 65, 65);
  border-radius: 10px;
  padding: 1rem;
  height: 50rem;
  width: 40rem;

  @media screen and (max-width: 850px) {
    width: 25rem;
    font-size: 1.1rem;
  }
  @media screen and (max-width: 550px) {
    width: 20rem;
    font-size: 1.1rem;
  }
}

.info {
  font-size: 0.8rem;
}

.App-rootFolder {
  display: flex;
  height: 2rem;
  align-items: center;
  font-size: 1rem;

  & input {
    margin: 0 1rem;
  }

  & button {
    margin-right: 1rem;
    cursor: pointer;
  }
}

input {
  border: none;
  outline: none;
  width: 6rem;
  margin-left: 0.8rem;
  margin-right: 0.2rem;
}

ul {
  padding-inline-start: 30px;
}
